<!-- ici on va construire les blocs qui vont etre affichés ou disparues selon le button cliqué dans le component home -->
<h1>Affichage de chaque metier</h1>
<div id='blocChirurgie'>
<h2>
    ICI C'est la Chirurgie
</h2>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque, et illo. Quidem laudantium, libero quibusdam tempora quia itaque similique illo repellat alias! Tempore libero modi atque unde fugit, sequi totam.</p>
</div>
<div id='blocBiochimie'>
    <h2>
        ICI C'est la biochimie
    </h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos blanditiis atque culpa sed nisi nesciunt ex quisquam, ab ad, accusamus quia neque! Quae placeat assumenda, minus voluptatum deserunt eveniet rem.</p>
</div>